
.my-hover a:link {
    color: #ea7f0c;
    text-decoration: none;
}

.my-hover a:visited {
    color: #deac09;
}

.my-hover a:focus {
    color: #976f00;
    background-color: grey;
}

.my-hover a:hover {
    color: #ff4400;
    background-color: grey;
}

.my-hover a:active {
    color: #f7bd00;
    background-color: white;
}

.my-font {
    font-family:fantasy;
}

.social-links a {
    color: red;
    padding: 5px;
}

.my-footer {
    background-color: rgb(68, 41, 56);
}